.App {
  background-color: #81171b;
  margin: 0px;
  height: 100vh;
  font-family: solaire -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 1.5px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.playerHud {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.battle {
  font-family: inherit;
  text-align: center;
}

.theShop {
  justify-content: center;
  margin: 10px;
  font-family: inherit;
}

.shopItems {
  display: flex;
  align-items: center;
  margin: 0px;
  width: 100vw;
  flex-wrap: wrap;
}

.storeItem {
  text-align: center;
  margin: 5px;
  background-color: #ea8c55;
  font-family: inherit;
  font-size: 10px;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.1s ease-in-out;
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(-3px);
  }
}

.storeItem:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.deployBtn {
  font-family: inherit;
  margin: 10px;
  font-size: x-large;
  border-radius: 20px;
  width: 200px;
  transition: 100ms ease-out;
  color: white;
  background-color: #540804;
  border-style: solid;
  border-color: #ea8c55;
}

.deployBtn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.deployBtn:active {
  background-color: #3e8e41;
  transform: translateY(2px);
}

.playerStats {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manualData {
  border-radius: 20px;
  background-color: khaki;
  width: 400px;
  background-color: #c75146;
}

.autoData {
  background-color: #c75146;
  border-radius: 20px;
  width: 400px;
  margin: 10px;
}

.attackEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemyPic {
  width: 100px;
}

.homeTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clickable {
  transition: 0.5s ease-out;
  transform: scale(1.3);
}
