.App {
  background-color: #81171B;
  margin: 0px;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 5px;
  text-align: center;
}

*{
  box-sizing: border-box;
}

.playerHud {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.battle{
  font-family: inherit;
  text-align: center;
}

.theShop {
  justify-content: center;
  margin: 20px;
  font-family: inherit;
}
.shopItems{
  display: flex;
  align-items: center;
  margin: 0px;
  width: 100vw;
  flex-wrap:wrap;
}

.storeItem {
  text-align: center;
  margin: 5px;
  background-color: #EA8C55;
  font-family: inherit;
  font-size: 8px;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.1s ease-in-out;
}

.storeItem:hover {
  transform: scale(1.05);
}

.deployBtn {
  font-size: x-large;
  border-radius: 20px;
  width: 200px;
  transition: 250ms ease-in-out;
  color: white;
  background-color:#540804 ;
  border-style: solid;
  border-color: #EA8C55
}

.deployBtn:hover {
  transform: scale(1.3);
}

.playerStats{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manualData {
  border-radius: 20px;
  background-color: khaki;
  width: 400px;
  background-color: #C75146;
}

.autoData {
  background-color: #C75146;
  border-radius: 20px;
  width: 400px;
  margin: 10px;
}

.attackEvent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enemyPic{
  width: 100px;
}

.homeTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
}